<mat-card class="user-card">
    <mat-card-header *ngIf="!downloading">
        <div class="header">
            <mat-label class="name">{{ user.name }}</mat-label>
            <mat-label class="email">{{ user.email }}</mat-label>
        </div>
    </mat-card-header>
    <mat-card-header *ngIf="downloading">
        <mat-label class="name">Loading..</mat-label>
    </mat-card-header>


    <mat-card-content *ngIf="!downloading">
        <form class="user-form" *ngIf="user">
            <mat-form-field appearance="fill" class="xl">
                <mat-label>Username</mat-label>
                <input matInput [value]="user.username" readonly />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input matInput [value]="user.phone" readonly />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Website</mat-label>
                <input matInput [value]="user.website" readonly />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Company</mat-label>
                <input matInput [value]="user.company?.name" readonly />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Street</mat-label>
                <input matInput [value]="user.address?.street" readonly />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input matInput [value]="user.address?.city" readonly />
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>